@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 1px 2px rgb(5, 77, 29);

}

body {
    background-color: #8EC3B0;
    background-image: url("img/Backgrounds/gaming_green.png");
    color: #DEF5E5;
}

header {
    background-color: #8EC3B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}

.logo {
    font-weight: bold;
    font-size: 5vh;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-line{
    margin: 2px;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #678a80;

    border-radius: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.aboutme-text {
    font-size: 2vh;

}


.aboutme img {

    border-radius: 20px;

    max-height: 30vh;

}


.skills {
    display: flex;
    background-color: #678a80;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    font-size: 20px;
    flex-wrap: wrap;

}

.skills-text p {
    font-size: 2vh;
    display: flex;
    flex-wrap: wrap;
}

.skills-text h2 {
    font-size: 3vh
}

.skills-text p img {
    max-width: clamp(10%, 30%, 50%);
}


.portfolio .title {
    text-align: center;
    border-radius: 20px;
}

.projekt {
    background-color: #678a80;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;

}

.projekt-text-box {

    width: 95%;
    height: 98%;
    align-items: start;
    font-size: 100%;

    margin-left: 5%;
    margin-bottom: 2%;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;

}

.project-images img {
    width: 100%;
    height: 100%;


}

.projekt-text-box h2 {
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projekt-text-box p {
    font-size: 100%;

}

.projekt-text-box span {
    font-size: 100%;

}


.artikel i {
    margin-bottom: 30px;
    transform: scale(.8);
}



img {

    max-width: 300px;
    border-radius: 20px;
    margin: 5px;

}

ul {
    list-style-position: inside;
}

p img {
    max-width: 100px;
    max-height: 100px;


}


.skills-text p {
    display: flex;
    justify-content: center;
    align-items: center;

}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 5px;
}

.title {
    display: flex;
    background-color: #678a80;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;


    justify-content: center;
}

a {
    font-size: 20px;



}

a:link {
    color: #DEF5E5;
}

a:visited {
    color: #DEF5E5;
}

a:hover {
    color: black;
}

header li {
    list-style-type: none;
}

p img {
    margin-left: 20px;
}

.kontakt-container {
    margin-top: 2%;
    background-color: #678a80;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.kontakt-container i {

    max-width: 100%;
    margin: 1rem;

}


@media only screen and (max-width:800px) {

    .projekt-text-box {

        width: 95%;
        height: 98%;
        align-items: start;
        font-size: 100%;

        margin-left: 5%;
        margin-bottom: 2%;
    }

}